<%- include('header.html'); -%>
<script type="text/javascript" src="/js/sky.js"></script>

<script type="text/javascript">

  var renderer,
      scene,
      camera,
      controls;

  init();

  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }

  function init() {
    scene = new THREE.Scene();

    var container = document.getElementById('container')

    // Setup camera
    camera = new THREE.PerspectiveCamera(75, container.offsetWidth / container.offsetHeight, .01, 1000);
    camera.position.set(0, 1, 30);

    // Setup light
    var light = new THREE.PointLight(0xffffff, 1, 200);
    light.position.set(0, 20, 0);
    scene.add(light);

    // Setup renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(container.offsetWidth, container.offsetHeight);
    renderer.toneMapping = THREE.LinearToneMapping;
    
    controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.target.set(0, 0.9, -1.0);
    controls.update();

    container.appendChild(renderer.domElement);

    // Add Sky
    sky = new THREE.Sky();
    sky.scale.setScalar( 450000 );
    scene.add( sky );
    
    // Add ground
    var floorGeo = new THREE.PlaneGeometry( 2000, 2000, 1 );
    var floorMaterial = new THREE.MeshPhongMaterial({ color: 0x159815, side: THREE.DoubleSide });
    var plane = new THREE.Mesh( floorGeo, floorMaterial );
    plane.rotation.x = -Math.PI / 2;
    scene.add(plane);

    // Create a new Vimeo Player and set the video
    Vimeo.Player.loadPlayersByAlbum(5528679, { 
      quality: Vimeo.VideoQuality.x360, 
      autoplay: true,
      autoload: true,
      muted: true
    }).then(players => {
      var row = 0;

      for (var i = 0; i < players.length; i++) {
        players[i].load()
        players[i].on('videoLoad', function(i, row) {
          var geometry = new THREE.BoxGeometry(10, 10, 10);
          var material = new THREE.MeshBasicMaterial( { map: this.texture } );
          var cube = new THREE.Mesh( geometry, material );
          cube.position.set((i % 3) * 10, 5, row * 10);
          scene.add( cube );
        }.bind(players[i], i, row))

        if (i % 3 == 0) {
          row++
        }

        
      }
    });

    animate();
  }

  function animate() 
  {
    window.addEventListener('resize', onWindowResize, false);
    renderer.setAnimationLoop(render);
  }

  function render() 
  {
    renderer.render(scene, camera);
  }

  function onWindowResize() 
  {
    var container = document.getElementById('container')
    camera.aspect = container.offsetWidth / container.offsetHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(container.offsetWidth, container.offsetHeight);
  }
</script>

<%- include('footer.html'); -%>