<%- include('header.html'); -%>
<script type="text/javascript">
  var renderer,
    scene,
    camera,
    controls;

  var vimeoPlayer;

  function init() 
  {
    scene = new THREE.Scene();

    // Setup camera
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, .01, 100);
    camera.position.set(0, 1, 30);

    // Setup light
    var light = new THREE.PointLight();
    light.position.set(0, 2.5, 0);
    // scene.add(light);

    // Setup renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.toneMapping = THREE.LinearToneMapping;
    
    document.body.appendChild(renderer.domElement);

    controls = new THREE.OrbitControls(camera);
    controls.target.set(0, 0.9, -1.0);
    controls.update();

    // Create a new Vimeo Player and set the video
    vimeoPlayer = new Vimeo.Player('244123293');

    // videoLoad is fired when ready to apply the video texture to a mesh 
    vimeoPlayer.on('videoLoad', function() {
      showPlayButton();

      var height = 30 * (vimeoPlayer.getHeight() / vimeoPlayer.getWidth())
      var geometry = new THREE.PlaneGeometry(30, height, 32 );
      var material = new THREE.MeshBasicMaterial( { map: vimeoPlayer.texture, side: THREE.DoubleSide} );
      var plane = new THREE.Mesh( geometry, material );
      plane.position.y = height / 2;
      scene.add( plane );


      videoScreenLight = new THREE.RectAreaLight(0xffffff, 5.0,  30, height);
      // videoScreenLight.position.set(0, -5, 3)
      scene.add(videoScreenLight)
      
    });

    var floorGeo = new THREE.PlaneGeometry( 100, 100, 1 );
    var floorMaterial = new THREE.MeshPhysicalMaterial({ color: 0x333333, side: THREE.DoubleSide });
    var plane = new THREE.Mesh( floorGeo, floorMaterial );
    plane.rotation.x = -Math.PI / 2;
    scene.add(plane);

    vimeoPlayer.load();
    
    setupEvents();
    animate();
  }

  function animate() 
  {
    renderer.setAnimationLoop(render);
  }

  function render() 
  {
    renderer.render(scene, camera);
  }

  function onWindowResize() 
  {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  }

  function showPlayButton() 
  {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('play').style.display = 'block';
  }

  function setupEvents()
  {
    document.getElementById('play').addEventListener('click', playVideo, false);
    window.addEventListener('resize', onWindowResize, false);
  }

  function playVideo() 
  {
    vimeoPlayer.play();
    document.getElementById('play').style.display = 'none';
  }

  init();
</script>

<%- include('footer.html'); -%>