<%- include('header.html'); -%>
<div id="loader" class="loading">
  <div class="spinner">
    <div class="mask">
      <div class="maskedCircle"></div>
    </div>
  </div>
</div>

<div id="play" class="play-button"></div>
<script type="text/javascript" src="/js/vimeo.depth-player.min.js"></script>
<script type="text/javascript">
  var renderer,
    scene,
    camera,
    controls;

  var vimeoPlayer,
    depthRenderer;

  function init() {
    scene = new THREE.Scene();

    // Setup camera
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, .01, 100);
    camera.position.set(0, 1, 0);

    // Setup renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(window.innerWidth, window.innerHeight);
    document.body.appendChild(renderer.domElement);

    controls = new THREE.OrbitControls(camera);
    controls.target.set(0, 1, -1.0);
    controls.update();

    vimeoPlayer = new Vimeo.Player(318536310, {
      autoplay: false,
      autoload: true
    });

    vimeoPlayer.on('videoLoad', function (videoTexture) {
      showPlayButton();
      depthRenderer = Vimeo.DepthRenderer.fromPlayer(vimeoPlayer);
      depthRenderer.rotation.set(Math.PI, 0, - Math.PI / 2)
      depthRenderer.position.set(0.2, 1.25, 0);
      scene.add(depthRenderer)
    });

    setupEvents();
    animate();
  }

  function animate() {
    renderer.setAnimationLoop(render);
  }

  function render() {
    renderer.render(scene, camera);
  }

  function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  }

  function showPlayButton() {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('play').style.display = 'block';
  }

  function setupEvents() {
    document.getElementById('play').addEventListener('click', playVideo, false);
    window.addEventListener('resize', onWindowResize, false);
  }

  function playVideo() {
    vimeoPlayer.play();
    document.getElementById('play').style.display = 'none';
  }

  init();
</script>

<%- include('footer.html'); -%>