<%- include('header.html'); -%>

<script type="text/javascript" src="/js/depthkit.js"></script>
<script type="text/javascript">
  var renderer,
    scene,
    camera,
    controls;

  var videoScreen, videoScreenLight;

  var vimeoPlayer;

  function init() 
  {
    scene = new THREE.Scene();

    // Setup camera
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, .01, 100);
    camera.position.set(0, 1, 30);

    // Setup renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.toneMapping = THREE.LinearToneMapping;
    
    document.body.appendChild(renderer.domElement);

    controls = new THREE.OrbitControls(camera);
    controls.target.set(0, 0.9, -1.0);
    controls.update();


    vimeoPlayer = new Vimeo.Player(244123293);
    vimeoPlayer.on('videoLoad', function() {
      var character = new DepthKit("mesh", "meta.txt", "take.mp4");
      scene.add(character);      
    });
    vimeoPlayer.load();
    
    setupEvents();
    animate();
  }

  function animate() 
  {
    renderer.setAnimationLoop(render);
  }

  function render() 
  {
    renderer.render(scene, camera);
  }

  function onWindowResize() 
  {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  }

  function showPlayButton() 
  {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('play').style.display = 'block';
  }

  function setupEvents()
  {
    document.getElementById('play').addEventListener('click', playVideo, false);
    window.addEventListener('resize', onWindowResize, false);
  }

  function playVideo() 
  {
    vimeoPlayer.play();
    document.getElementById('play').style.display = 'none';
  }

  init();
</script>

<%- include('footer.html'); -%>