<%- include('header.html'); -%>
<script type="text/javascript" src="/js/light-reactive-screen.js"></script>
<div id="loader" class="loading">
  <div class="spinner">
    <div class="mask">
      <div class="maskedCircle"></div>
    </div>
  </div>
</div>

<div id="play" class="play-button"></div>

<canvas id="dominent-color"></canvas>

<script type="text/javascript">
  var renderer,
    scene,
    camera,
    controls,
    light;

  var vimeoPlayer;

  var shapes = [];

  var cubemap = new THREE.CubeTextureLoader();

  function init() {
    scene = new THREE.Scene();

    // Setup camera
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, .01, 1000);
    camera.position.set(0, 10, 50);

    // Setup light
    light = new THREE.PointLight(0x1ab7ea, 5, 100);
    light.position.set(0, 15, 0);
    scene.add(light);

    var ambientLight = new THREE.AmbientLight()
    scene.add(ambientLight);

    // Setup renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.toneMapping = THREE.LinearToneMapping;

    document.getElementById('container').appendChild(renderer.domElement);

    controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.target.set(0, 1.0, -1.0);
    controls.update();

    // Load the ground enviorment map
    envMap = cubemap.setPath('/images/env_cubemap/').load([
      'face-b.jpg',
      'face-d.jpg',
      'face-l.jpg',
      'face-f.jpg',
      'face-r.jpg',
      'face-t.jpg'
    ]);

    // Create a new Vimeo Player and set the video
    vimeoPlayer = new Vimeo.Player(296928206, { autoplay: false });
    vimeoPlayer.load();
    // videoLoad is fired when ready to apply the video texture to a mesh 
    vimeoPlayer.on('videoLoad', function (videoTexture) {
      showPlayButton();

      videoTexture.wrapS = videoTexture.wrapT = THREE.ClampToEdgeWrapping;
      var material = new THREE.MeshStandardMaterial({
        side: THREE.DoubleSide,
        map: videoTexture,
        envMap: envMap,
        envMapIntensity: 5.0
      });

      for (var i = 0; i < 50; i++) {
        var shapeInstanceGeo;
        if (i % 3 === 0) {
          shapeInstanceGeo = new THREE.SphereBufferGeometry(5, 32, 32);
        } else if (i % 2 === 0) {
          shapeInstanceGeo = new THREE.BoxBufferGeometry(5, 5, 5);
        } else {
          shapeInstanceGeo = new THREE.IcosahedronBufferGeometry(5, 0);
        }

        shapes.push(new THREE.Mesh(shapeInstanceGeo, material));
        shapes[i].position.set(Math.random() * 100 - 50, Math.random() * 100 - 50, Math.random() * 50 - 25);
        scene.add(shapes[i]);
      }

    });

    setupEvents();
    animate();
  }

  function animate() {
    renderer.setAnimationLoop(render);
  }

  function render() {
    controls.update();
    if (vimeoPlayer.texture) {
      light.color = getFloorColor(vimeoPlayer.texture.image)
    }
    renderer.render(scene, camera);
  }

  function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  }

  function showPlayButton() {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('play').style.display = 'block';
  }

  function setupEvents() {
    document.getElementById('play').addEventListener('click', playVideo, false);
    window.addEventListener('resize', onWindowResize, false);
  }

  function playVideo() {
    vimeoPlayer.play();
    controls.autoRotate = true;
    document.getElementById('play').style.display = 'none';
  }

  init();
</script>

<%- include('footer.html'); -%>