<%- include('header.html'); -%>

<div id="loader" class="loading">
  <div class="spinner">
    <div class="mask">
      <div class="maskedCircle"></div>
    </div>
  </div>
</div>

<div id="play" class="play-button"></div>

<script type="text/javascript">
  var renderer,
      scene,
      camera,
      controls;

  var vimeoPlayer;

  function init() {
    scene = new THREE.Scene();

    // Setup camera
    camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 1000);
    camera.layers.enable( 1 );

    // Setup renderer
    renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio( window.devicePixelRatio );
    renderer.setSize( window.innerWidth, window.innerHeight );
    // renderer.vr.enabled = true;

    document.getElementById('container').appendChild(renderer.domElement);

    controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.enableZoom = false;
    controls.enableKeys = false;
    controls.enablePan = false;
    controls.enableDamping = true;
    controls.target.set(0, 0, -20);
    controls.update();
    // Create a new Vimeo Player and set the video
    vimeoPlayer = new Vimeo.Player(315948992, { autoplay: false });
    vimeoPlayer.load();
    // videoLoad is fired when ready to apply the video texture to a mesh 
    vimeoPlayer.on('videoLoad', function (videoTexture) {
      console.log(vimeoPlayer.video.videoElement);
      console.log(videoTexture.image.height);
      showPlayButton();

      var geometry = new THREE.SphereBufferGeometry( 500, 60, 40 );
      var material = new THREE.MeshBasicMaterial( { map: videoTexture } );

      // Left eye sphere
      geometry.scale( -1, 1, 1 );
      var uvs = geometry.attributes.uv.array;
      for ( var i = 0; i < uvs.length; i += 2 ) {
        uvs[ i + 1 ] *= 0.5;
      }
      var mesh = new THREE.Mesh( geometry, material );
      mesh.rotation.y = - Math.PI / 2;
      mesh.layers.set( 1 );
      scene.add( mesh );

      // Right eye sphere
      var geometry = new THREE.SphereBufferGeometry( 500, 60, 40 );
      geometry.scale( - 1, 1, 1 );
      var uvs = geometry.attributes.uv.array;
      for ( var i = 0; i < uvs.length; i += 2 ) {
        uvs[ i + 1 ] *= 0.5;
        uvs[ i + 1 ] += 0.5;
      }
      var mesh = new THREE.Mesh( geometry, material );
      mesh.rotation.y = - Math.PI / 2;
      mesh.layers.set( 2 );
      scene.add( mesh );


    });

    setupEvents();
    animate();
  }

  function animate() {
    renderer.setAnimationLoop(render);
  }

  function render() {
    controls.update();
    renderer.render(scene, camera);
  }

  function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  }

  function showPlayButton() {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('play').style.display = 'block';
  }

  function setupEvents() {
    document.getElementById('play').addEventListener('click', playVideo, false);
    window.addEventListener('resize', onWindowResize, false);
  }

  function playVideo() {
    vimeoPlayer.play();
    document.getElementById('play').style.display = 'none';
  }

  init();
</script>

<%- include('footer.html'); -%>